@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root{
    --cor0: rgb(26, 92, 56);
    --cor1: rgb(38, 137, 82);
    --cor3: rgb(55, 198, 119);

    --font-padrão: arial, verdana, sans-serif;
    --font-destaque:'Bebas Neue', sans-serif;
    --font-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(132, 225, 173);
    font-family: var(--font-padrão);
}
a.externo::after {
    content: '\1F517';
}
header {
     background-image: linear-gradient(to top, var(--cor0), var(--cor1), var(--cor3));
     padding: 10px;
}
header > h1 {
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 3em;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.315);
    padding: 10px;
}
header > p {
    color: white;
    text-align: center;
    font-size: 1.2em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.315);
    max-width: 300px;
    padding: 10px;
    margin: auto;
}
nav > a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    transition-duration: .5s;
}
a:hover {
    background-color: var(--cor3);
    color: var(--cor0);
}

main{
    background-color: white;
    padding: 20px;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(61, 61, 61, 0.541);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    font-family: var(--font-android);
    font-weight: normal;
    color: rgb(26, 92, 56);
}
main h2 {
    font-family: var(--font-android);
    font-weight: normal;
    color: var(--cor1);
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent: 8px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong {
    color: var(--cor0);
    font-weight: bold;
}
main a {
    color: var(--cor0);
    text-decoration: none;
    background-color: var(--cor3);
    padding: 2px 6px;
}
main > img {
    width: 100%;
    margin: auto;
}
picture > img.pequena {
    display: block;
    margin: auto;
}
 div.video {
    background-color: var(--cor0);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
 }
 div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
 }

aside {
    background-color: rgb(36, 182, 102);
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.294);
}
aside > h3 {
    color: white;
    background-color: var(--cor0);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
aside > p > a {
    background-color: rgb(212, 255, 212);
}
footer{
    background-color: var(--cor0);
    color: white;
    text-align: center;
}
footer > a {
    text-decoration: none;
    color: white;
}